@charset "UTF-8";
a {
  text-decoration: underline;
}


.item_icon.item_complete
{
	color:green;	
	opacity:.4;
}

!a span.item_icon 
{
  text-decoration: none!important;
}
span.item_icon, .item_icon.item_complete
{
    padding-right:8px;
		opacity:.1;
}

span.item_icon:hover, .item_icon.item_complete:hover
{
		opacity:1;
}


.list-description
{
	padding-right:20px
}

.list_item:hover{
	background-color:#eeeeee


}

.completed_list_item
{
    opacity:.4;
    
}
.completed_list_item .list-description
{
    text-decoration: line-through;
}



 .item-text
{
	
    display: inline-flex;
    width: calc(100% - 150px);
    flex-direction: row;

}


.edit_items
{

    display: inline-flex;
    width: 99px;
    flex-direction: row;
    justify-content: flex-end;

}



label#description_1, label#description_2, label#description_3
{
    display: inline-flex;
    width: 99px;
}


input#description_1, input#description_2, input#description_3
{
    display: inline-flex;
    width: calc(100% - 99px);
}



