@charset "UTF-8";

.list-title
{
color:#00c8ff

}

a {
  text-decoration: underline;
}


.item_icon.item_complete
{
	color:green;	
	opacity:.4;
}

!a span.item_icon 
{
  text-decoration: none!important;
}
span.item_icon, .item_icon.item_complete
{
    padding-right:8px;
		opacity:.1;
}

span.item_icon:hover, .item_icon.item_complete:hover
{
		opacity:1;
}


.list-description
{
	padding-right:20px
}

.list_item:hover{
	background-color:#eeeeee


}

.completed_list_item
{
    opacity:.4;
    
}
.completed_list_item .list-description
{
    text-decoration: line-through;
}



 .item-text
{
	
    display: inline-flex;
    width: calc(100% - 110px);
    flex-direction: row;

}
 .delete-page .item-text
{
	
    display: inline-flex;
    width: calc(100% - 310px);
    flex-direction: row;

}

.edit_items
{

    display: inline-flex;
    width: 99px;
    flex-direction: row;
    justify-content: flex-end;

}

.delete_detail_items
{
display: inline-flex;
width:200px;
justify-content: flex-start;

}

label#description_1, label#description_2, label#description_3
{
    display: inline-flex;
    width: 99px;
}


input#description_1, input#description_2, input#description_3
{
    display: inline-flex;
    width: calc(100% - 99px);
}



.rename-toggle-hidden
{
display:none;
}

.rename-toggle-shown
{
display:block;
}

.post_section_action_bar
{
	background-color:#fafafa;
    padding:10px;
    margin:10px
}

.post_section_action_bar:hover
{
	background-color:#8888aa
}
 .post_section_action_bar  .item_icon_post
 {
     border-radius: 10px;
     cursor:pointer;
     display: inline-flex;
     margin-right:10px;
     padding:10px
 }
  .post_section_action_bar  .item_icon_post:hover
 {
     cursor:pointer;
     display: inline-flex;
     margin-right:10px;
     	background-color:#aaaaee
 }


.btn
 {
     padding: 0px;
     
 
 }